.UfoList {
    margin: 3rem 0;
    h2 {
        font-size: 2rem;
        color: rgba(3, 154, 126, 0.687);
    }
    ul {
        list-style: none;

        li {
            margin: .5rem 0;
        }
    }
}