.btn {
    padding: 0.8rem;
    margin: 1rem;
    font-size: 2rem;
    
    &.cta {
        background-color: rgba(255, 145, 0, 0.88);
        box-shadow: 5px 5px 10px;
    }
    
    &.login {
        background-color: rgba(150, 9, 245, 0.768);
        box-shadow: 5px 5px 10px;
    }
}